<h2>List of Patients</h2>

<table>
  <thead>
  <tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Practicing from</td>
    <td>Qualification number</td>
    <td>Employment</td>
  </tr>
  </thead>
  <tbody>
    <%= render @doctors %>
  </tbody>
</table>
